{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Articles</title>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
</head>
<body>
    <div id="warp">
        <div id="header">
            <div id="nav">
                <div class="logo">
                    <a href={% url 'article-list' %}><img src="{% static 'articles/images/logo.png' %}"></a>
                </div>
            </div>
            {% block article_header %}
            {% endblock article_header %}
        </div>
        {% block logo_text %}
        {% endblock logo_text %}
        <div id="content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <p>Costory</p>
            </div>
        </div>
    </div>
</body>
</html>
